:root {
    --green-color: #339129;
    --yellow-color: #e5f50f;
    --red-color: #f50f0f;
    --blue-color: #0b71de;
    --white-color: #f0f8ff;
}

.titel {
    color: #1BA089;
    text-align: center;
    margin-bottom: 3rem;
}

.row_up > .mid_part > .top_nine > .square:nth-child(3n + 5),  
.row_up > .mid_part > .bottom_nine > .square:nth-child(3n + 2){
    background-color: var(--yellow-color);
}

.row_bottom > .mid_part > .top_nine > .square:nth-child(3n-1),  
.row_bottom > .mid_part > .bottom_nine > .square:nth-child(2), 
.row_bottom > .mid_part > .bottom_nine > .square:nth-child(5) {
    background-color: var(--yellow-color);
}


.left_part > .left_nine > .square:nth-child(5),
.left_part > .left_nine > .square:nth-child(6),

.left_part > .right_nine > .square:nth-child(4),
.left_part > .right_nine > .square:nth-child(5),
.left_part > .right_nine > .square:nth-child(6) {
    background-color: var(--green-color);
}

.right_part > .left_nine > .square:nth-child(4),
.right_part > .left_nine > .square:nth-child(5),
.right_part > .left_nine > .square:nth-child(6),

.right_part > .right_nine > .square:nth-child(4),
.right_part > .right_nine > .square:nth-child(5) {
    background-color: var(--blue-color);
}

.game {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 22.5vw;
    margin: 0 auto;
    border: 3px solid #0e0e0e;
}

.game>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.green_house {
    background-color: var(--green-color);
    padding: 1rem;
}

.yellow_house {
    background-color: var(--yellow-color);
    padding: 1rem;
}

.red_house {
    background-color: var(--red-color);
    padding: 1rem;
}

.blue_house {
    background-color: var(--blue-color);
    padding: 1rem;
}

.white_square {
    background-color: var(--white-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.white_square>.square_green {
    flex: 1 1 23%;
    margin: 5px;
    height: 2.75rem;
    width: 1rem;
    background-color: var(--green-color);
    border: 1px solid var(--green-color);
}

.white_square>.square_yellow {
    flex: 1 1 23%;
    margin: 5px;
    height: 2.75rem;
    width: 1rem;
    background-color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
}

.white_square>.square_red {
    flex: 1 1 23%;
    margin: 5px;
    height: 2.75rem;
    width: 1rem;
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
}

.white_square>.square_blue {
    flex: 1 1 23%;
    margin: 5px;
    height: 2.75rem;
    width: 1rem;
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
}

.mid_part {
    width: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.mid_part > .top_nine {
    width: 80px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mid_part > .top_nine > .square {
    height: 27.3px;
    border: 1px solid #0e0e0e;
}

.mid_part > .bottom_nine {
    width: 80px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mid_part > .bottom_nine > .square {
    height: 27.3px;
    border: 1px solid #0e0e0e;
}

.left_part {
    width: 173px;
    height: 80px;
    display: flex;
}

.left_part > .left_nine {
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left_part > .left_nine > .square {
    height: 25px;
    border: 1px solid #0e0e0e;
}

.left_part > .right_nine {
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left_part > .right_nine > .square {
    height: 25px;
    border: 1px solid #0e0e0e;
}

.middle_part {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
}

.middle_part > .triangle {
    top: 0;
    justify-content: center;
    position: absolute;
    display: block;
    border: 40px solid transparent;
    border-top: 0;
    border-bottom: 40px solid purple;
}

.middle_part> .triangle:nth-child(1) {
    transform: rotate(180deg);
    border-bottom: 40px solid var(--yellow-color);
}

.middle_part> .triangle:nth-child(2) {
    left: -20px;
    top: 20px;
    transform: rotate(90deg);
    border-bottom: 40px solid var(--green-color);
}

.middle_part> .triangle:nth-child(3) {
    right: -20px;
    top: 20px;
    transform: rotate(-90deg);
    border-bottom: 40px solid var(--blue-color);
}

.middle_part> .triangle:nth-child(4) {
    bottom: 0;
    border-bottom: 40px solid var(--red-color);
}

.right_part {
    width: 173px;
    height: 80px;
    display: flex;
}

.right_part > .left_nine {
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.right_part > .left_nine > .square {
    height: 25px;
    border: 1px solid #0e0e0e;
}

.right_part > .right_nine {
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.right_part > .right_nine > .square {
    height: 25px;
    border: 1px solid #0e0e0e;
}