@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --dark-theme-background: #051622;
    --dark-theme-primary: #1BA089;
    --dark-theme-secondary: #DEB922;
    --dark-theme-text: #efefef;

    --white: var(--dark-theme-text);
    --black: var(--dark-theme-background);

    --foreground: var(--black);
    --background: var(--white);
    --primary: var(--dark-theme-primary);
    --secondary: var(--dark-theme-secondary);

    --nav-blue: #00f7ff;
    --nav-bg: #474a50;
    --nav-hover: #24252a;

}


[data-theme="dark"] {
  --foreground: var(--dark-theme-text);
  --background: var(--dark-theme-background);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 18px;
}

main {
    background-color: var(--background);
}

h1, h2, h3, h4 {
    size: 120%;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4,
p {
    color: var(--foreground);
}

p, a {
    line-height: 1.75364rem;
}

a {
    color: var(--primary);
    text-decoration: underline;
}

/*
    main
*/

main {
    padding: 1.5rem;
}

main>section {
    max-width: 70%;
    margin: 0 auto;
}

main>section p + p {
    margin-top: 0.8rem;
}

/* body */
h1{
    color: #1BA089;
    size: 48px;
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 16px;
}

div{
    text-align: center;
}

button {
    color: #ffff;
    padding: 9px 25px;
    background-color: #1BA089;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 16px;
}

button:hover {
    color: #1BA089;
    background-color: #ffff;
  }
