:root {
    --dark-theme-background: #051622;
    --dark-theme-primary: #1BA089;
    --dark-theme-secondary: #DEB922;
    --dark-theme-text: #efefef;

    --white: var(--dark-theme-text);
    --black: var(--dark-theme-background);

    --foreground: var(--black);
    --background: var(--white);
    --primary: var(--dark-theme-primary);
    --secondary: var(--dark-theme-secondary)

}

@media (prefers-color-scheme: dark) {
    :root   { 
        --foreground: var(--dark-theme-text);
        --background: var(--dark-theme-background);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 18px;
}

main {
    background-color: var(--background);
}

h1, h2, h3, h4 {
    size: 120%;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4,
p {
    color: var(--foreground);
}

p, a {
    line-height: 1.75364rem;
}

a {
    color: var(--primary);
    text-decoration: underline;
}

/*
    main
*/

main {
    padding: 1.5rem;
}

main>section {
    max-width: 70%;
    margin: 0 auto;
}

main>section p + p {
    margin-top: 0.8rem;
}