:root {
    --dark-theme-background: #051622;
    --dark-theme-primary: #1BA089;
    --dark-theme-secondary: #DEB922;
    --dark-theme-text: #efefef;

    --white: var(--dark-theme-text);
    --black: var(--dark-theme-background);

    --foreground: var(--black);
    --background: var(--white);
    --primary: var(--dark-theme-primary);
    --secondary: var(--dark-theme-secondary)

}

@media (prefers-color-scheme: dark) {
    :root   { 
        --foreground: var(--dark-theme-text);
        --background: var(--dark-theme-background);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    background-color: var(--background);
}

h1, h2, h3, h4,
p, label {
    color: var(--foreground);
}


/*
    Form
*/
.form {
    width: 80%;
    margin: 1rem auto;
}

.form form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
}

textarea {
    max-width: 100%;
    width: 100%;
}

input:not(:last-child), textarea {
    margin-bottom: 1rem;
}

input[type="submit"] {
    background-color: var(--primary);
    color: var(--foreground);
    margin: 1rem 0;
    border: 1px solid var(--white);
}
