@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 30px 10%;
  background-color: #474a50;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
  align-items: center;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #00f7ff;
}

header button {
  padding: 9px 25px;
  background-color: #00f7ff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

header img{
    height: 100px;
}

header button:hover {
  background-color: #24252a;
}

.nav_links a.active {
  color: #00f7ff;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}

#menu {
  display: flex;
  gap: 1rem;
  background-color: inherit;
  border: 0;
  color: #fff;
  font-variant: all-petite-caps;
  align-items: center;
}

#menu .icon span {
  display: block;
  width: 1rem;
  height: 2px;
  background-color: #fff;
  margin: 2px 0;
  transition: transform .2s ease-in-out;
}

#menu[aria-expanded=true] + nav {
  animation: showDown;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

#menu[aria-expanded=false] + nav {
  animation: hideUp;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

#menu[aria-expanded=true] .icon span:nth-child(1) {
  transform: rotate(45deg) translateY(3px);
}

#menu[aria-expanded=true] .icon span:nth-child(2) {
  display: none;
}

#menu[aria-expanded=true] .icon span:nth-child(3) {
  transform: rotate(-45deg) translateY(-3px);
}

@keyframes showDown {
  0% {
      margin-top: -150%;
      opacity: 0;
      left: -100%;
  }

  60% {
      margin-top: 0;
      opacity: 0;
      left: -100%;
  }

  100% {
      opacity: 1;
  }
}

@keyframes hideUp {
  0% {
      opacity: 1;
      margin-top: 0;

  }

  40% {
      opacity: 0;
      margin-top: 0;
  }

  100% {
      opacity: 0;
      margin-top: -150%;
      visibility: hidden;
  }
}